
.box-form{
    padding-top: 150px;
    margin-top: 20%;
  }
  .box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(133, 213, 233);
    text-align: center;
  }
  .box-jr{
    display: flex;
    align-items: center;
    line-height: 200px;
    cursor: pointer;
  
  }
  .box-jr:hover{
    border: 2px solid rgb(69, 182, 103);
    background-color:rgb(93, 233, 135) ;
    text-align: center;
  }
  .box-jr h1{
    margin-left: 40%;
  }
  .box-user:hover{
    border: 2px solid azure;
    background-color:azure ;
    text-align: center;
  }